@model IEnumerable<ResultUpload.Models.Result>
@*只是用AnchorTagHelpers*@                                      @*,后面是程序集名称*@
@*@addTagHelper Microsoft.AspNet.Mvc.TagHelpers.AnchorTaghelper,Microsoft.AspNet.Mvc.TagHelpers*@

@*使用全部的TagHelpers，RemoveTagHelper去掉程序集*@
@addTagHelper *, Microsoft.AspNet.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    //var pagecount = Convert.ToInt32(ViewBag.Count);
    //var pageindex = Convert.ToInt32(ViewBag.Index);
    var count = Convert.ToInt32(ViewBag.Count);
    var index = Convert.ToInt32(ViewBag.Index);
    var pagestart = index - 2 > 0 ? index - 2 : 1;
    var pageend = index + 2 >= count ? count : pagestart + 4;
}

<h1>Index</h1>
<link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<p>
    <a asp-action="Add">Create New</a>
    @*<ol>
            <li>
                @Html.ActionLink("HomeText", "Index", "Home")
            </li>
            <li>
                <a asp-controller="Home" asp-action="Index">HomeText2</a>
            </li>
        </ol>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type.TName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachmet)
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (string.IsNullOrEmpty(item.PassWord)) { 
                <td>
                    @Html.DisplayFor(modelItem => item.SName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    @Html.DisplayNameFor(model => item.Create)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.TName)
                </td>
                <td>
                    @*@Html.DisplayNameFor(model => item.Attachmet)*@
                    @*判断是否有附件可下载*@
                    @if (!string.IsNullOrEmpty(item.Attachmet))
                    {
                        //如果路径有问题，@item变为~/@item
                        <a href="@item.Attachmet">下载</a>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
                }
                else
                {
                <td class="row">
                    <a asp-action="Details" asp-route-id="@item.ID">内容已加密</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>

@*bootstrap分页*@
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="@(index==1?"disabled":"")">
            <a asp-action="Index" asp-route-pageindex="@(index==1?1:index-1)">
                &laquo;
            </a>
        </li>
        @for (int i = pagestart; i <= pageend; i++)
        {
            <li @(index == i ? "class=active" : "")>
                <a asp-action="Index" asp-route-pageindex="@i">
                    @i
                </a>
            </li>
        }
        <li class="@(index==count?"disabled":"")">
            <a asp-action="Index" asp-route-pageindex="@(index==count?count:index+1)">
                &raquo;
            </a>
        </li>
    </ul>
</nav>